/* .About-Us{
    height: 100vh;
    background: linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(200,220,226,1) 100%);
}
.About-Us form textarea{
    resize: none
}
.in{
    position: relative;
}
.in img{
    position: absolute;
    bottom: -13px;
    right: 70px;
} */