.Home-section{
    padding: 80px 0;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(200,220,226,1) 100%);
}
.Home-section h1{
    font-size: 50px;
    font-weight: 600;
    /* height: 24px; */
}
.one{
    width: 155px;
    object-fit: contain;
    margin-top: 10px;
}
.two{
    width: 155px;
    object-fit: contain;
    margin-top: 10px;
}

.three{
    position: absolute;
    left: 190px;
    width: 200px;
}
.four{
    position: absolute;
    right: 125px;
    width: 145px;
}
.five{
    position: absolute;
    top: 180px;
}